@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-table {
    width: 100%;
    table-layout: auto;
}
.issues-table {
    min-width: 2500px;
    width: auto;
}
.projects-table {
    min-width: 2000px;
    width: auto;
}
.users-table {
    min-width: 800px;
    width: auto;
}

.custom-table-column{
    background-color: #f7fafc; 
    color: #4a5568;
    font-weight: 600; 
    padding: 10px;
}

.custom-table-cell {
    min-width: 120px;
    max-width: 400px;
    width: auto;
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
    text-align: center;
}
.custom-table-cell div {
    display: flex;
    justify-content: center; /* Center the buttons within the cell */
    align-items: center; /* Vertically center the buttons */
    gap: 8px; /* Add space between buttons */
}