<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket by Status</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex justify-center items-center min-h-screen">
    <form class="max-w-130 bg-violet-600 p-6 rounded-lg shadow-md text-white" action="/update-profile" method="POST">
        <h1 class="font-bold w-full justify-center text-white text-xs">New & Open Ticket Category-wise</h1><br>
        <div class="w-full max-w-lg mx-auto space-y-4">
            <!-- Skill 1 -->
        <div>
            <div>
              <span class="text-xs font-bold text-white">Network</span>
        </div>
        <div class="w-[15rem] rounded-none bg-white h-4 text-black font-extrabold text-xs text-center">
            <div class="bg-red-400 h-4 rounded-none w-[10%]">10</div>
        </div>

        <!-- Skill 2 -->
        <div>
            <div>
              <span class="text-xs font-bold text-white">Software</span>
        </div>
        <div class="w-[15rem] rounded-none bg-white h-4 text-black font-extrabold text-xs text-center">
            <div class="bg-yellow-200 h-4 rounded-none w-[25%]">25</div>
        </div>

        <!-- Skill 3 -->
        <div>
            <div>
              <span class="text-xs font-bold text-white">Hardware</span>
        </div>
        <div class="w-[15rem] rounded-none bg-white h-4 text-black font-extrabold text-xs text-center">
            <div class="bg-blue-400 h-4 rounded-none w-[15%]">15</div>
        </div>

        <!-- Skill 4 -->
        <div>
            <div>
              <span class="text-xs font-bold text-white">Other</span>
        </div>
        <div class="w-[15rem] rounded-none bg-white h-4 text-black font-extrabold text-xs text-center">
            <div class="bg-teal-300 h-4 rounded-none w-[13%]">13</div>
        </div>
        </div>
    
</body>
</html>